@import '../SCSS/variables.scss';

select {
    border: none;
    border-bottom: 3px solid $primaryBlue;
    padding: 0 25px;
    grid-row: 1 / span 1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;

    option {
        font-size: .6em;
        text-transform: capitalize;
    }
}

select:focus {
    outline: none;
}