@import '../SCSS/variables.scss';

.popup {
    position: fixed;
    top: 14vh;
    left: 30vw;
    width: 64vw;
    height: 78vh;
    background-color: $white;
    z-index: 99999;
    border: 5px solid $primaryBlue;
    outline: 5px solid $primaryRed;

    .close-window {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        .bar {
            position: absolute;
            top: 45%;
            display: block;
            width: 50px;
            height: 5px;
            background-color: $primaryBlue;
            transition: all .2s ease-in-out;
        }

        .bar1 {
            transform: rotate(45deg);
        }

        .bar2 {
            transform: rotate(-45deg);
        }
    }

    .close-window:hover {

        .bar {
            background-color: $primaryRed;
        }
    }

    h1 {
        img {
            position: absolute;
            top: 40px;
            left: 30px;
            max-height: 15vh;
        }

        span {
            display: none;
        }
    }

    h4 {
        margin-top: 25vh;
        margin-left: calc(5% + 10px);
    }   

    p {
        overflow-y: scroll;
        width: 90%;
        height: 50%;
        margin-left: 5%;
        font-size: .85em;
        line-height: 1.2em;
        padding: 0 10px;
    }
}