@import '../SCSS/variables.scss';

.popup {
    position: fixed;
    top: 14vh;
    left: 30vw;
    width: 64vw;
    height: 78vh;
    background-color: $white;
    z-index: 99999;
    border: 5px solid $primaryBlue;
    outline: 5px solid $primaryRed;

    .close-window {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        .bar {
            position: absolute;
            top: 45%;
            display: block;
            width: 50px;
            height: 5px;
            background-color: $primaryBlue;
            transition: all .2s ease-in-out;
        }

        .bar1 {
            transform: rotate(45deg);
        }

        .bar2 {
            transform: rotate(-45deg);
        }
    }

    .close-window:hover {

        .bar {
            background-color: $primaryRed;
        }
    }

    h1 {
        img {
            margin-top: 40px;
            margin-left: 5%;
            max-height: 15vh;
        }

        span {
            display: none;
        }
    } 

    .buttons {
        display: inline-flex;
        width: 20vw;
        margin-left: 5%;

        button {
            background-color: $white;
            color: $primaryBlue;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

        }

        button:hover {
            outline: none;
            color: $primaryRed;
        }

        button.active {
            background-color: $primaryBlue;
            color: $white;
        }
    }

    .dynamic-content {
        display: flex;
        width: 100%;
        height: 58%;

        p {
            overflow-y: scroll;
            height: 80%;
            width: 60%;
            margin-left: 5%;
            margin-top: -11.5px;
            font-size: .85em;
            line-height: 1.2em;
            padding: 3vh 1vw;
            border-top: 5px solid $primaryBlue;
        }

        img {
            height: 80%;
            padding-left: 2%;
        }
    }
}