@import '../SCSS/variables.scss';

button {
    width: 70%;
    height: auto;
    font-size: 1em;
    padding: 10px 0;
    margin-bottom: 1.5vh;
    background-color: $primaryBlue;
    color: $white;
    border: none;
    transition: all .2s ease-in-out;
}

button:hover {
    outline: 1px solid $primaryBlue;
    color: $primaryBlue;
    background-color: $white;
    cursor: pointer;
}

button:focus {
    outline: none;
}