$highEmphasis: rgba(0, 0, 0, .87);
$medEmphasis: rgba(0, 0, 0, .6);
$disabled: rgba(0, 0, 0, .38);
$error: rgb(176, 0, 32);
$confirm: rgb(76, 175, 80);

$white: rgb(255, 255, 255);
$primaryBlue: rgb(106, 91, 205);
$lightGrey: rgb(245, 245, 246);