@import '../SCSS/variables.scss';

table.latest-results {
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
    width: calc(100% - 10px);
    height: 100%;
    margin-right: 10px;
    border-collapse: collapse;
    background-color: $white;
    
    tbody {

        p.no-data {
            margin-left: 25px;
        }

        tr:hover {
            background-color: $lightGrey; 
            cursor: context-menu;
        }

        tr {
            text-align: left;
            transition: all .2s ease-in-out;

            th {
                height: 50px;
                padding-left: 25px;
                font-weight: 400;
                text-transform: uppercase;
                font-weight: 600;
                background-color: $primaryBlue;
                color: $white;
            }

            td {
                text-align: center;

                img {
                    width: 20px;
                }
            }

            .date {
                width: 12%;
                text-align: left;
                padding-left: 25px;
                color: $medEmphasis;
                font-size: .9em;
            }

            .name {
                width: 24%;
            }    

            .home-name {
                text-align: right;
                padding-right: 2%;
            }

            .away-name {
                text-align: left;
                padding-left: 2%;
            }
            
            .logo {
                width: 4%;
            }

            .score {
                width: 4%;
            }

            .home-score {
                text-align: right;
            }

            .away-score {
                text-align: left;
            }

            .hyphen {
                width: 3%;
            }

            .stadium {
                width: 21%;
                text-align: left;
                color: $medEmphasis;
                font-size: .9em;
            }
        }
    }

    // tr:last-child {
        
    //     td {
    //         padding-bottom: 10px;
    //     }
    // }
}