@import './components/SCSS/variables.scss';

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 100vh;
    grid-template-areas: "sidebar main";
    font-family: 'Roboto';
    font-size: 16px;
    color: $highEmphasis;
    background-color: $primaryBlue;
}