@import '../SCSS/variables.scss';

.sidebar {
    width: 97%;
    height: 100%;
    margin-left: 3%;
    grid-area: sidebar;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 
                0 3px 6px rgba(0, 0, 0, .3);

    .sidebar-nav {
        grid-row: 7 / span 2;
        text-align: center;
    }
}