@import './components/SCSS/variables.scss';

body {
    font-family: 'Roboto';
    font-size: 16px;
    color: $highEmphasis;

    h1, h2, h3, h4, h5, h6 {
        color: $highEmphasis;
    }

    header {
        background-color: $white;
    }
}