@import '../SCSS/variables.scss';

.bio-container {
    grid-row: 2 / span 5;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $white;
    margin-bottom: 2vh;

    .team-badge {
        position: relative;
        height: 50%;

        img {
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            height: 80%;
        }
    }

    table {
        width: 100%;
        background-color: $white;
        box-shadow: none;
        margin-top: 4.5vh;

        td {
            font-size: .8em;
            text-align: left;
            padding: 5px 0;
            padding-left: 25px;

            .website {
                text-transform: lowercase;
            }
        }

        td:nth-of-type(odd) {
            width: 36%;
            color: $medEmphasis;
        }

        td:nth-of-type(even) {
            width: 64%;
        }
    }
}