@import '../SCSS/variables.scss';

.bio-container {
    display: block;
    width: 100%;
    height: 30vh;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 2vh;

    h1 {
        padding: 10px 25px 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 30% 50% 20%;
        padding-right: 25px;

        table {
            width: 100%;
            background-color: $white;
            box-shadow: none;

            td {
                text-align: left;
                padding: 5px 0;
                padding-left: 25px;
            }

            td:nth-of-type(odd) {
                width: 30%;
                color: $medEmphasis;
            }

            td:nth-of-type(even) {
                width: 70%;
            }
        }

        .team-bio {
            display: block;
            height: 100%;
            width: 100%;
            p {
                width: 100%;
            }
        }

        .team-badge {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}