@import '../SCSS/variables.scss';

.main-content {
    grid-area: main;
    width: calc(100% - 10px);
    margin: 0;
    margin-left: 10px;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $primaryBlue;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .quick-stats {
        grid-column: 1 / span 8;
        grid-row: 6 / span 2;
        padding-right: 10px;

        h3 {
            margin-left: 25px;
            margin-top: 20px;
            margin-bottom: 0px;
            color: $white;
            text-transform: uppercase;
            font-size: 1em;
        }

        .stat-cards-container {
            display: flex;
            justify-content: space-between;
            width: inherit;
            background-color: $primaryBlue;
        }
    }

    table {
        box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, .2);
        margin-top: 10px;
    }
}